storage/
.vscode-server/
.vscode/

__pycache__/
*.py[cod]
venv/
.env

storage/
infhome
cat <<EOF > .gitignore
.vscode-server/
.vscode/
.local/
.ssh/
.cache/

__pycache__/
venv/
*.pyc
.env
storage/
infhome

.config/
.DS_Store
Thumbs.db
EOFome  
.dotnet/
.ipython/
.jupyter/
.streamlit/
.bash_history
.bash_logout
.bashrc
.kshrc
.profile
.python_history


